<ion-header>

  <ion-navbar>
    <button right class="titleBttn" ion-button small color="positive" (click)="logout()">logout</button>
    <ion-title style="padding-top: 0.5em;">Applications</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="refreshApplications($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item class="devices" color="light" *ngFor="let app of applications">
      <div class="row row-center">
        <div id="devName" class="col col-75">
          <b>{{app._id}}</b>
          <button right class="bttn" ion-button small color="positive" (click)="viewApplication(app)">View app</button>
        </div>
      </div>
    </ion-item>
  </ion-list>
  <ion-item *ngIf="applications === undefined" style="text-align: center;">Pull down to refresh list</ion-item>
</ion-content>
