<ion-header>

  <ion-navbar>
    <ion-title>Physical Tiles</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="refreshDevices($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item color="light" class="devices" *ngFor="let device of devices" no-lines>
      <b>{{device.name}}</b><br><br>
      <div>
        <button ion-button small color="positive" (click)="changeNamePop(device)">CHANGE NAME</button>
        <button ion-button small color="positive" (click)="devicesService.resetDeviceName(device)">RESET NAME</button>
        <button ion-button small color="positive" (click)="bleService.locate(device)">LOCATE</button>
      </div>
    </ion-item>
  </ion-list>
  <ion-item *ngIf="devices === undefined" style="text-align: center;">Pull down to refresh list</ion-item>
</ion-content>
