page-home {

}

ion-title {
  padding: 0;
  margin: 0;
}

.titleBttn {
  margin-right: 1%;
  float: right;
}

.mainList {
  margin-left: 0.625em;
  margin-right: 0.625em;
}

.devices {
  margin-bottom: 0.4375em;
}

.bttn {
  float: right;
  width: 7em;
}

.bttnRel {
  margin-top: 0.4375em;
  padding-top: 0.3125em;
  padding-bottom: 0.3125em;
  float: left;
}

.toggleIonItem {
  margin: 0;
  padding: 0;
}

.toggleText {
  width: 3.75em;
  margin: 0;
  padding-left: 0.3125em;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.tgle {
  width: 4.375em;
  margin: 0;
  padding: 0;
}
