/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/

#appInfoLabel {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: end;
}