<html>
	<head>
		<title>Tiles API</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/style.css">
		
		<!-- AngularJS -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		
		<!-- AngularJS modules -->
		<script src="/javascripts/app.js"></script>
		<script src="/javascripts/controllers.js"></script>
		<script src="/javascripts/services.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
	</head>
	<body ng-app="tilesApi">
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1">
				<ui-view></ui-view>
			</div>
		</div>
		<div id="appInfoLabel">
			<span>Version: <%= appVersion %></span><br/>
			<span>Build date: <%= buildDate %></span>
		</div>
		<script type="text/ng-template" id="/users.html">
			<div class="page-header">
				<h1>Users</h1>
			</div>
			<div ng-repeat="user in users">
				<a href="#/users/{{user._id}}"><span class="glyphicon glyphicon-user"></span>&nbsp;{{user._id}}</a>
			</div>
			<form ng-submit="addUser()" style="margin-top:30px;">
				<h3>Add a new user</h3>
				<div class="form-group">
					<input type="text" placeholder="Username" ng-model="username">
				</div>
				<button type="submit" class="btn btn-primary">Post</button>
			</form>
		</script>
		<script type="text/ng-template" id="/user.html">
			<div class="page-header">
				<h1>{{user._id}}</h1>
			</div>
			<h3>Tiles</h3>
			<div ng-hide="tiles.length">No Tiles registered for this user.</div>
			<table ng-show="tiles.length" class="table">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Active</th>
						<th>State</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="tile in tiles">
						<td><a href="#/users/{{user._id}}/{{tile._id}}">{{tile._id}}</td>
						<td>{{tile.name}}</td>
						<td>{{tile.active}}</td>
						<td>{{tile.state}}</td>
						<td><button type="button" class="btn btn-default" ng-click="removeTile(tile)"><span class="glyphicon glyphicon-trash"></span></button</td>
					</tr>
				</tbody>
			</table>
			<form ng-submit="addTile()" style="margin-top:30px;">
				<h4>Register a new Tile</h4>
				<div class="form-group">
					<input type="text" placeholder="Tile Device ID" ng-model="tileDeviceId">
				</div>
				<button type="submit" class="btn btn-primary">Post</button>
			</form>
		</script>
		<script type="text/ng-template" id="/tile.html">
			<div class="page-header">
				<h1>{{userId}}</h1>
				<h2>{{tileName}} ({{tileId}})</h2>
			</div>
			<h3>Webhooks</h3>
			<div ng-hide="webhooks.length">No Webhooks registered for this Tile and user.</div>
			<table ng-show="webhooks.length" class="table">
				<thead>
					<tr>
						<th>ID</th>
						<th>Callback URL</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="webhook in webhooks">
						<td>{{webhook._id}}</td>
						<td>{{webhook.postUrl}}</td>
						<td><button type="button" class="btn btn-sm btn-danger" ng-click="deleteWebhook(webhook)"><span class="glyphicon glyphicon-trash"></span>&nbsp;Delete</button></td>
					</tr>
				</tbody>
			</table>
			<form ng-submit="addWebhook()" style="margin-top:30px;">
				<h4>Register a new webhook</h4>
				<div class="form-group">
					<input type="text" placeholder="URL" ng-model="webhookUrl">
				</div>
				<button type="submit" class="btn btn-primary">Register</button>
			</form>
		</script>
	</body>
</html>