<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close button-xsmall pure-button" data-dismiss="modal"
                    aria-label="Close"><span
                    aria-hidden="true"><i class="fa fa-times"></i></span></button>
            <h2 class="modal-title" id="myModalLabel">Debug Console</h2>
        </div>
        <div class="modal-body">
            <h5>Tile {{name}}</h5>

            <div class="pure-g">
                <div class="pure-u-4-12 pure-u-md-3-12">
                    Set LED
                </div>

                <div class="pure-u-8-12 pure-u-md-9-12">
                    <div class="pure-u-3-12 pure-u-md-2-12"><button class="pure-button button-small button-error">Red</button></div>
                    <div class="pure-u-3-12 pure-u-md-2-12"><button class="pure-button button-small button-success">Green</button></div>
                    <div class="pure-u-3-12 pure-u-md-2-12"><button class="pure-button button-small pure-button-primary">Blue</button></div>
                    <div class="pure-u-1 pure-u-md-1-12"></div>
                    <div class="pure-u-1-4 pure-u-md-2-12"><button class="pure-button button-small">Flash</button></div>
                    <div class="pure-u-1-4 pure-u-md-2-12"><button class="pure-button button-small">Off</button></div>
                </div>
            </div>

            <div class="pure-g" style="margin-top:1em;">
                <div class="pure-u-4-12 pure-u-md-3-12">
                    Set VIBRATION
                </div>

                <div class="pure-u-8-12 pure-u-md-9-12">
                    <div class="pure-u-1-4 pure-u-md-2-12"><button class="pure-button button-small">On</button></div>
                    <div class="pure-u-1-4 pure-u-md-2-12"><button class="pure-button button-small">Off</button></div>
                    <div class="pure-u-1-4 pure-u-md-2-12"><button class="pure-button button-small">Flash</button></div>
                </div>
            </div>

            <div class="pure-g" style="margin-top:1em;">
                <div class="pure-u-4-12 pure-u-md-3-12">
                    Event recognized
                </div>

                <div class="pure-u-8-12 pure-u-md-9-12">
                    <div class="pure-u-5-12 pure-u-md-3-12"><button class="pure-button button-xsmall">Button A pressed</button></div>
                    <div class="pure-u-5-12 pure-u-md-3-12"><button class="pure-button button-xsmall">Button B pressed</button></div>
                    <div class="pure-u-1 pure-u-md-1-12"></div>
                    <div class="pure-u-1-3 pure-u-md-2-12"><button class="pure-button button-xsmall">Shake</button></div>
                    <div class="pure-u-1-3 pure-u-md-2-12"><button class="pure-button button-xsmall">Tilt</button></div>
                </div>

            </div>

            <form class="pure-form pure-g" style="margin-top:2em;">
                <div class="pure-u-1">
                    <label for="jsonMonitor">Json monitor</label>
                    <textarea id="jsonMonitor" class="pure-input-1" placeholder="Enter JSON data"></textarea>
                </div>
            </form>

        </div>

        <div class="modal-footer">
            <button type="button" class="pure-button" data-dismiss="modal">Close</button>
            <button type="button" class="pure-button pure-button-primary">Send</button>
        </div>
    </div>
</div>