<div class="header">
    <h3>Recipes Editor</h3>
</div>

<div class="radio radio-danger">
    <input type="radio" name="radio3" id="radio3" value="option1" checked>
    <label for="radio3">
        Next
    </label>
</div>

<div class="radio radio-warning">
    <input type="radio" name="radio2" id="radio2" value="option1" checked>
    <label for="radio2">
        Next
    </label>
</div>

<div class="radio radio-success">
    <input type="radio" name="radio1" id="radio1" value="option1" checked>
    <label for="radio1">
        Next
    </label>
</div>

<div class="radio radio-info">
    <input type="radio" name="radio0" id="radio0" value="option1" checked>
    <label for="radio0">
        Next
    </label>
</div>


<div class="content">
    <h2 class="content-subhead">How to use this layout</h2>


    <a class="pure-button" href="#">A Pure Button</a>


    <button id="lightButton" onclick="led.changeStatus('CF:5C:40:82:7E:DA',client)">Click me</button>
    <p id="btnmsg"></p>

    <button id="connectStatus">connect status</button>

</div>