<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <!--[if lt IE 9]>
    <link rel="stylesheet" href="asset/css/pure/grids-responsive-old-ie.css">
    <link rel="stylesheet" href="asset/css/pure/pure-old-ie.css">
    <link rel="stylesheet" href="asset/css/theme/old/main.min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="asset/css/pure/pure.min.css">
    <link rel="stylesheet" href="asset/css/main-grid.min.css">
    <link rel="stylesheet" href="asset/css/theme/main.min.css">
    <!--<![endif]-->

    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">

    <script src="../node_modules/handlebars/dist/handlebars.runtime.min.js"></script>
</head>
<body>

<script src="asset/js/browserMqtt.js"></script>
<script src="asset/js/tileClient.js"></script>
<script src="asset/js/sidebar.js"></script>
<script src="asset/js/modules/LedOn.js"></script>
<script src="asset/js/templates.js"></script>

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<script>

    var led=null;
    var client=null;
    $( document ).ready(function() {

        sidebarToggle.init();
        led=new LedOn("lightButton");

        var subRec = "TilesReceive";

        client = new TileClient("ws://localhost:3000");

        client.connect("#connectStatus");

        client.subscribe("Tiles");

        client.addModule(subRec, led.changeDomStatus);

    });

    $(document).on('connected',function(e){
        document.getElementById("connectStatus").className="active";
    });

</script>


<div id="layout">

    <!-- toggle menu-->
    <a href="#menu" id="menuLink" class="menu-link"><span></span></a>


    <div id="menu">
        {{>sidebar}}
    </div>


    <div id="main">
        {{>body}}
    </div>


</div>


<style>
    #lightButton.active {
        background-color: yellow !important;
    }

    #lightButton {
        background-color: red;
    }

    #connectStatus.active{
        background-color:green;
    }
</style>
</body>
</html>