<!--
  Generated template for the VirtualTiles page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{applicationTitle}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="refreshVirtualTiles($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

	<ion-title left style="padding-left: 0;">UNPAIRED TILES</ion-title>
  <div *ngFor="let tile of virtualTiles">
    <ion-item class="devices" color="light"  *ngIf="tile.tile == null">
      <div class="row row-center">
        <div id="devName" class="col col-75">
          <div style="float: left; top: 0;">
            <b>Virtual tiles</b><br>
            <span style="size: 14;">{{tile.virtualName}}</span>
          </div>
          <div style="float: right; top: 0;">
            <button class="bttn" ion-button small color="positive" (click)="pairTilePopUp(tile)">PAIR</button>
          </div>
        </div>
        <div class="col">
        </div>
      </div>
    </ion-item>
  </div>

  <ion-title left style="padding-left: 0;">PAIRED TILES</ion-title>
  <div *ngFor="let tile of virtualTiles">
    <ion-item  class="devices" color="light" *ngIf="tile.tile != null">
      <div class="row row-center">
        <div id="devName" class="col col-75">
          <div style="float: left; top: 0;">
          <b>Virtual tiles</b><br>
          <span style="size: 14;">{{tile.virtualName}}</span>
        </div>
        <div style="float: right; top: 0;">
          <b>Physical tiles</b><br>
          <span style="size: 14;">{{tile.tile._id}}</span>
        </div>
        <button class="bttn" ion-button small color="positive" (click)="unpairTile()">Unpair</button>
        </div>
      </div>
    </ion-item>
  </div>
</ion-content>
