.sidebar-table{
  width:100%;
  text-align:center;

  color:#fff;

}

.sidebar-table thead
{
  text-align: left;
  border-bottom:1px solid #006600;
}

.sidebar-table td,.sidebar-table th{
  padding:8px;
}