<head>
<style type="text/css" media="screen">
    #editor { 
        position: absolute;
        top: 60px;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .editor-container {
    	height: 500px;
    }
    .inline-header {
    	display: inline-block;
    }
    .float-right {
    	float: right;
    }
</style>
</head>
<body ng-app="tilesApi">
<div class="page-header">
	<h1>{{user}}</h1>
</div>
<div class="col-lg-3">
	<h3>App Recipes</h3>
	<ul class="nav nav-pills nav-stacked">
		<li role="presentation" ng-class="appRecipe.selected ? 'active' : ''" ng-repeat="appRecipe in appRecipes"><a ng-click="showAppRecipe(appRecipe)"><span class="glyphicon {{appRecipe.active ? 'glyphicon-transfer' : 'glyphicon-off'}}"></span> {{appRecipe.name}} {{appRecipe.active ? '(active)' : '(inactive)'}}</a></li>
	</ul>
	<form ng-submit="createAppRecipe()" style="margin-top:30px;">
		<h3>Create new</h3>
		<div class="form-group" style="display: inline"><input type="text" placeholder="Name" ng-model="newAppRecipeName"></div>
		<button type="submit" class="btn btn-primary">Create</button>
	</form>
</div>
<div class="col-lg-9" ng-show="selectedAppRecipe">
	<div class="editor-header-row">
		<h3 id="editor-header-title" class="inline-header">{{selectedAppRecipe.name}}</h3>
		<div class="float-right" style="margin-top: 12px;">
			<button type="button" class="btn btn-default" ng-click="activateApp(selectedAppRecipe, true)">Activate</button>
			<button type="button" class="btn btn-default" ng-click="activateApp(selectedAppRecipe, false)">Deactivate</button>
			<button type="button" class="btn btn-default" ng-click="saveAppRecipe(selectedAppRecipe)">Save</button>
		</div>
	</div>
	<div class="editor-container">
		<div id="editor"></div>
	</div>
</div>
</body>